.checkbox_label {
  position: relative;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
  outline: none;
}

.checkbox {
  position: relative;
  margin: 0 1em 0 0;
  cursor: pointer;
  outline: none;
}

.checkbox:before {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  content: "";
  position: absolute;
  left: 4px;
  /* bottom: 0; */
  z-index: 1;
  width: 1em;
  height: 1em;
  border: 2px solid black;
}

.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: 0.5em;
  border-color: black;
  border-top-style: none;
  border-right-style: none;
}

.checkbox:after {
  content: "";
  position: absolute;
  left: 0;
  width: 1.1em;
  height: 1.1em;
  background: #fff;
  cursor: pointer;
}

.delete {
  margin-top: 2px;
  cursor: pointer;
}
