.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: fixed;
  right: 48px;
  bottom: 24px;
}

.container_mod {
  position: fixed;
  left: 48px;
  bottom: 24px;
}

.container-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.75s ease-in-out;
}

.container-input_hide {
  width: 1px;
  opacity: 0;
}

.container-input_show {
  width: 65vw;
  opacity: 1;
}

.container-input_add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-right: 8px;
  padding: 4px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius: 4px;
}

.todo-input {
  width: 100%;
  height: 100%;
  margin-right: 8px;
  padding-left: 4px;
  background: white;
  color: black;
  border: 0;
  border-bottom: 2px solid #616161;
  font-size: large;
  outline: none;
  z-index: 1000 !important;
}

.todo-input:hover,
.todo-input:focus,
.todo-input:valid {
  border-bottom: 2px solid black;
}
.todo-input::placeholder {
  color: #9e9e9e;
}

.todo-button_add {
  margin-top: 1px;
  margin-right: 8px;
  cursor: pointer;
  outline: none;
}

.container-fab {
}

.fab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: black;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.1s ease-in -out;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.1);
}

.fab_icon {
  color: white;
  font-size: 2em;
}
