@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #eeeeee;
}

.grid-container {
  display: grid;
  grid-template-columns: 104px 1fr 1fr 104px;
  grid-template-rows: 72px 1fr 48px;
  min-height: 100vh;
  grid-template-areas: 
    "headerL headerCL headerCR headerR"
    "contentL contentC contentC contentR"
    "footerL footerCL footerCR footerR";
  margin: 8px 8px 0 8px;
}

.header-row_1{
  grid-area: headerL;
}
.header-row_2 {
  grid-area: headerCL;
}
.header-row_3 {
  grid-area: headerCR;
}
.header-row_4 {
  grid-area: headerR;
}

.content-row_1{
  grid-area: contentL;
}
.content-row_2 {
  grid-area: contentC;
}
.content-row_3 {
  grid-area: contentR;
}

.footer-row_1{
  grid-area: footerL;
}
.footer-row_2 {
  grid-area: footerCL;
}
.footer-row_3 {
  grid-area: footerCR;
}
.footer-row_4 {
  grid-area: footerR;
}

@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-areas: 
      "headerL headerCL headerCR headerR"
      "contentC contentC contentC contentC"
      "footerL footerCL footerCR footerR";
    margin: 8px;
  }
}
